= form_for @film do |f|
  - if @film.errors.any?
    #error_explanation
      %h2
        = pluralize(@film.errors.count, "error")
        prohibited this film from being saved:
      %ul
        - @film.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label 'Title of the film: '
    = f.text_field :title
  -#.field
  -#  = f.label :participants
  -#  = f.select :participant_ids, options_from_collection_for_select(Participant.all, :id, :name)
  -#  = f.label :roles
  -#  = f.select :role_ids, options_from_collection_for_select(Role.all, :id, :name)
  = f.fields_for :roleships do |roleship_form|
    = participant = Participant.where(id: roleship_form.object.participant_id).first.name
    = roleship_form.check_box :participant_id
    = roleship_form.label 'Is owner?'
    = roleship_form.check_box :is_owner
    = roleship_form.label 'Sort order'
    = roleship_form.text_field :sort_order

  .actions
    = f.submit